/*Perusion  Strap30 adds*/
/* General Typography adds */

/*Quick adjustment helper classes*/
/*use as m = margin p = padding t = top b = bottom  followed by number*/
/*for margin-top:5px add class "mt5" */

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}

.small    { font-size: 95% }
.smaller  { font-size: 85% }
.smallest { font-size: 70% }

.large   { font-size: 110% }
.larger  { font-size: 125% }
.largest { font-size: 140% }

/*Quick adjustment helper classes top border radius*/
/*use as b = border t = top l = left r = right*/
/*for border-radius-top left and right, class=btlr */
/*for border-radius-top left only, class=btl */
/*for border-radius-top right only, class=btr */
.btlr {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.btl {-webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0;}
.btr {-webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0;}
.showcursor{cursor:pointer;}

/* Button btn adds */

/* Cart adds */
.cart_bq{
	font-size:10px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:0px;
	padding-bottom:5px;
}
.cart_bq i{
	font-size:11px;
	font-weight:bold;
}
a.bg-primary:link, a.bg-primary:hover{
	color:#fff!important;
}

/* Form adds */
form[novalidate] input:focus:invalid, 
form[novalidate] textarea:focus:invalid, 
form[novalidate] select:focus:invalid {
    color: #555;
    border-color: rgba(82, 168, 236, 0.8);;
    -webkit-box-shadow: 
        inset 0 1px 1px rgba(0, 0, 0, 0.075), 
        0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: 
        inset 0 1px 1px rgba(0, 0, 0, 0.075), 
        0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: 
        inset 0 1px 1px rgba(0, 0, 0, 0.075), 
        0 0 8px rgba(82, 168, 236, 0.6);
}

/*Changes to navbar */
.navbar .nav > li > a {
  cursor:pointer;
}

/* multi level dropdown adds*/
/* direct bootstrap overrides */

/* product menu classes */
.pgroup > li > a {
  display: inline;
  font-weight:bold;
}
.pgroup > li:hover{
	background-color:#EEEEEE;
}

/*fp_search*/
 .suggestionsBox {
  position: absolute;
  right: 14px;
  top: 43px;
  margin: 0px 0px 0px 0px;
  padding-left:5px;
  width: 310px;
  background-color: #FFF;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid #CCC;
  border-top: 1px solid #D9D9D9;
  color: #000;
  box-shadow:0 2px 4px rgba(0,0,0,0.2);
 }
 .suggestionList {
  margin: 0px;
  padding: 0px;
  margin-top:5px;
 }
 .suggestionList li {
  margin: 0px 0px 3px 0px;
  padding: 3px;
  cursor: pointer;
  list-style-type:none;
 }
 .suggestionList li:hover {
  background-color: #659CD8;
 }
 .fp_sf_text {
    padding-left:5px!important;
 }
